<!DOCTYPE html>

<HTML>
    <head> 
        <title> Web Base QA Ninja</title>
        <script src="js/vue.js"></script>
    </head>

<body>
<div id="app">
    <h1> Cadastro de Alunos</h1>
    <form> 
        <label for="nomeCompleto">Nome Completo</label>
        <input name="nomeCompleto" type="text" v-model="form.nome"> 

        <label for="email">Email</label>
        <input name="email" type="email" v-model="form.email">

        <label for="nota">Nota</label>
        <input name="nota" type="text" v-model="form.nota">

        <input type="button" value="Cadastrar" @click="adicionarAluno">
    </form>


</body>

<div>
    <table class="table">
        <thead>
            <th>Nome</th>
            <th>Email</th>
            <th>Nota</th>
            <th>Ações</th>
        </thead>
        <tbody>
            <tr v-for="aluno in alunos">
                <td>{{aluno.nome}}</td>
                <td>{{aluno.email}}</td>
                <td>{{aluno.nota}}</td>
                <td> 
                    <button class="danger" @click="apagarAluno(aluno)">Apagar</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>

</div>

<script>
var app = new Vue({
    el: "#app",
    data: {
        form: {
            nome: "",
            email: "",
            nota: ""
        },

        alunos: [
            { nome: "Tassio Jordao", email: "tassio@io.com", nota: 10 }
        ]

        },
    methods: {
        limpaFormulario: function() {
            this.form = {
            nome: "",
            email: "",
            nota: ""
            }
        },
        adicionarAluno: function () {
            this.alunos.push(this.form)
            this.limpaFormulario()
        },
        apagarAluno: function(aluno) {
            var posicao = this.alunos.indexOf(aluno)
            this.alunos.splice(posicao, 1)

        }
    }
})
</script>

<style>
.table {
    margin-top: 20px;
    width: 100%;
    text-align: left;
}

.table th, .table td {
border-top: 1px solid #ccc;
}

.danger {
    background-color: red;
    border-color: red;
    color: #eee;
}

input {
    display: block;
}

input[type=button] {
background-color: blueviolet;
border-color: blueviolet;
    margin-top: 10px;
    color: #eee;
}
</style>
</body>

</HTML>